@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap');
body{
    font-family:'Gluten',cursive;
    background-color: rgb(255, 134, 134);
}
.lol{
  width:auto;
  text-decoration-line: underline;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  margin: 5% 2% 5% 2%;
  box-sizing: content-box;
  border:solid 1px black;
}
.container>img{
  width: 200px;
  height:200px;
}